
*.class

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/

\.metadata/

\.recommenders/caches/

*.fdt

*.fdx

*.fnm

\.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/

\.DS_Store

POM/Log\.log

POM/bin/
